*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    }


    body{
        
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box1{
        
        text-align: center;
        height: 200px;
        width: 200px;
        border: solid 6px black;

        border-radius: 20%;
        background-color: rgb(196, 86, 163);
        


    }

    .main{
        display: flex;
        gap: 1rem;
        margin: 1.3rem;
        padding: 1.4rem;
    }

.line-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.line2{
     display: flex;
    flex-direction: column;
    gap: 1rem;
}
 .box2{
        
        text-align: center;
        height: 200px;
        width: 200px;
        border: solid 6px black;

        border-radius: 20%;
        background-color: rgba(119, 149, 194, 0.89);
        


    }
     .box3{
        
        text-align: center;
        height: 200px;
        width: 200px;
        border: solid 6px black;

        border-radius: 20%;
          background-color: rgba(201, 128, 45, 0.89);
        
        


    }

     .box4{
        
        text-align: center;
        height: 200px;
        width: 200px;
        border: solid 6px black;

        border-radius: 20%;
          background-color: rgb(121, 100, 172);
        


    }

.flash{
    background-color: white;
}


.userFlash{
    background-color: green;
}